asgiref
boto3
botocore
cryptography
defusedxml
Django
django-allauth
django-cors-headers
django-environ
django-extensions
django-storages
djangorestframework
djangorestframework-simplejwt
django-cities-light
djoser
drf-yasg
gunicorn
idna
jmespath
oauthlib
oauth2_provider
pillow
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
requests
requests-oauthlib
s3transfer
sqlparse
django-schema-graph
tzdata
whitenoise
django-smtp-ssl
eth-account
web3
eth-hash
mnemonic
uvicorn 